<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="in.co.wapistan.app" version="1.0"  versionCode = "1">
  <name>Vidstan</name>
  <description>VIDSTAN APP</description>
  <author href="http://wapistan.co.in" email="support@androidbee.in">Wapistan</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="cli-6.5.0" />
<preference name="android-build-tool" value="gradle" />
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="15"/>
  <preference name="android-installLocation" value="auto"/>
  <plugin name="org.apache.cordova.console"/>
  <plugin name="org.apache.cordova.device" version="0.2.8" />


<plugin name="org.apache.cordova.inappbrowser" />
<plugin name="org.apache.cordova.device-orientation"/>
<plugin name="org.apache.cordova.network-information"/>
<plugin name="org.apache.cordova.splashscreen"/>
    <plugin name="cordova-plugin-fcm" />

<icon src="xhd.png"/>
<icon src="xhd.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
<gap:splash src="splash.png" />
<gap:platform name="android" />
	<platform name="android">
  <resource-file src="google-services.json" target="google-services.json" />
</platform>
	
<preference name="SplashScreenDelay" value="2500" />
  <access origin="*"/>
</widget>
