* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: Roboto,Arial,Sans-serif;
    margin: 0;
      -webkit-touch-callout: none;
  -webkit-user-select: none;  
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;      
  user-select: none;          
    -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.header {
    background: #03A9F4;
    color: #FFF;
    font-weight: normal;
    font-size: 1em;
    overflow: hidden;
    text-align: center;
       position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    display: inline-block;
    padding: 0px;
     padding: 5px 6px;
    padding-top:7px;
    margin-top:2px;
}

.header a {
    padding: 5px 10px;
   padding-top:7px;
    display: inline-block;
}
.searchform form input {
    background: #03A9F4;
    border: 0px;
    border-bottom: 1px solid #FFF;
    height: 32px;
    width: 80%;
    margin: 0px 5px;
    color: white;
}

.searchform {
    background: #03A9F4;
    height: 36px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display:none;
}

span.close {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    font-size: 1.41em;
    float: right;
}
a {
    text-decoration: none;
    color: #666;
}

a.selected {
    background: rgba(51, 51, 51, 0.05);
}


.homeheader {
    background: #f6f6f6;
    padding-bottom:14px;
}
.homeheader h1 {
    font-size: 1.2em;
    padding: 9px 5px;
    padding-top: 14px;
    text-align: CENTER;
    font-weight: 300;
}
.basic {padding:7px;background:#fff;border-top:1px solid #eee;}
.homeheader form input[type=search] {
    padding: 3px;
    width: 96%;
    background: #f6f6f6;
    border: 0px;
    border-bottom: 1px solid #bbb;
    margin-left: 5px;
    padding-right: 20px;
    cursor: text;
}

input[type="image"] {
    margin-top: 5px;
    margin-left: -24px;
}

.homeheader form {
    padding: 5px 2px;
}
input[type=search]:focus {border: 0;outline: none;border-bottom: 1px solid #ffffff;}
.homeheader form input[type=search]:focus {border: 0;outline: none;border-bottom: 1px solid #03a9f4;}



.heading {
    background: #f6f6f6;
    clear: both;
    overflow: hidden;
    max-height: 56px;
}

.heading a {
    float: left;
    margin-right: 6px;
    padding: 7px 9px;
    display: inline-block;
}

.heading h1 {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0px;
}

.file {
    clear: both;
    overflow: hidden;
    border: 1px solid #eee;
}
.file:hover {
    background: #f9f9f9;
}
.file .video {
    display: table-cell;
    vertical-align: top;
}

.video {
    padding: 8px;
}
.loader {
    text-align: CENTER;
    margin-top: 20%;
}
.searchform form{text-align:center;}
.heading,.homeheader{margin-top:41px;}
.download {
    text-align: CENTER;
}

.download button {
    background: #01b201;
    color: WHITE;
    font-size: 22px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px #0fcb0f;
}

.download img {
    float: left;
    margin-right: 10px;
    display: inline-block;
    margin-top: -8px;
}

p {
    padding: 10px;
    color: #444;
}
@media only screen and (max-width: 295px) {

.right a:nth-child(1){display:none;};
}
@media only screen and (max-width: 270px) {
.right a{display:none;};

}


